body {
    font-family: Tahoma;
    margin: 0
}

div {
    background-color: #f5f5f5;
    padding: 50px;
    border-top: 1px solid #d5d5d5;
    text-align: center;
}


img {
    height: 190px;
    
}

h1 {
    text-align: center;
    margin-top: 0;
}

h2 {
    font-size: 24px;
    text-align: center;
    
}

p {
    text-align: center;
    line-height: 28px;
    margin: 15px auto 30px auto;
    width: 930px;
}

a {
    background-color: #49b970;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 25px;
    text-align: center;
}

span {
    font-weight: bold;
}